<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>This is signup page</h1>
    <form action="/signup" method="post">
        {% csrf_token %}

        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create Username(only letters and numbers)" required>
        <br>
        <label for="">Firstname</label>
        <input type="text" id="fname" name="fname" placeholder="Enter your First name" required>
        <br>
        
        <label for="">lastname</label>
        <input type="text" id="lname" name="lname" placeholder="Enter your Last name" required>
        <br>
        
        <label for="">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter your Email" required>
        <br>
        
        <label for="">password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your Password" required>
        <br>
        
        <label for="">confirm your password</label>
        <input type="password" id="pass2" name="pass2" placeholder="Confirm your Password" required>
        <br>
        
        <button type="submit">Sign up</button>
    </form>


</body>
</html>